* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

nav {
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    border-top: #ff0000 20px solid;
    box-shadow:  0 2px 8px rgba(0, 0, 0, 0.08);

    position: sticky;
    top: 0;
    z-index: 1000;

    backdrop-filter: blur(10px);
}

nav ul li a:hover {
    background-color: #e5e5e5;
    padding: 5px 10px;
    border-radius: 30px;
}

.logo {
    color: red;
    font-size: 30px;
}

ul {
    margin-top: 15px;
    list-style: none;
    display: flex;
    gap: 50px;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: whitesmoke;
}


.search-box {
    display: flex;
    align-items: center;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 8px 15px;
    background-color: white;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
}

.search-box i {
    color: gray;
    cursor: pointer;
    font-size: 16px;
}

.cart {
    display: flex;
}

.ct {
    margin-top: 10px;
    margin-left: 20px;
}

.h-tag1 {
    color: black;
}

.h-tag2 {
    color: red;
}

.hero {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.h-tag2 {
    display: flex;
    color: red;
}

.burger-hero {
    margin-top: 70px;
    margin-left: 180px;
    width: 350px;
    height: 450px;
    background-color: #ff0000;
    border-radius: 30px;
    position: relative;
}

.burger-hero img {
    width: 400px;
    position: absolute;
    top: -90px;
    left: 50%;
    border-radius: 30px;
    object-fit: cover;
    transform: translateX(-50%);
}

button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 0;
    transition: .35s ease-in-out;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 8px rgba(255, 0, 0, .3);
}

.services {
    display: block;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.services p {
    font-size: 20px;
    color: #000;
}

.text button {
    display: block;
    margin: 10px;
}

.welcome {
    font-size: 20px;
    color: #ff0000;
    margin-bottom: 0px;
}

.text {
    min-width: 420px;
    padding-left: 20px;
    flex: 1;
    padding-left: 70px;
    margin-top: -120px;
}

.foods {
    display: flex;
    justify-content: center;
    margin-left: -800px;
    margin-top: -200px;
    text-align: center;
    transition: .35s ease-in-out;
}

.foods img {
    width: 100px;
    height: 100px;
    border-radius: 1px;
    margin: 20px;
    padding: 2px;
}

.breakfast {
    transition: .35s ease-in-out;
    border-radius: 20px;
}

.breakfast:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 8px rgba(255, 0, 0, .3);
}


.soup {
    transition: .35s ease-in-out;
    border-radius: 20px;
}

.soup:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 8px rgba(255, 0, 0, .3);

}

.snacks {
    transition: .35s ease-in-out;
    border-radius: 20px;
}

.snacks:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 8px rgba(255, 0, 0, .3);
}

.soup:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 8px rgba(255, 0, 0, .3);

}

.h-tag1 h1,
.h-tag2 h1 {
    animation: slideside 1s ease-out;
}


.h-tag2{
    width: 100%;
    color: #ff0000;
}
@keyframes slideside {
    from {
        opacity: 0;
        transform: translateX(60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.burger-hero {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.button-play {
    display: flex;
}

.play {
    background-color: #ff0000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.play i {
    color: white;
    font-size: 20px;
    padding-top: 1px;
    padding-left: 1px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.play :hover {
    transform: translateX(-10px);
}